
body{

  margin: 5vh auto;
  width: 428px;
  height: 926px;
}

.main-image{
  z-index: -1;
}


.title{
width: 282px;
height: 48px;
top: 439px;
margin: 0 auto;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: 000000;
}

.tag-line{
  
  width: 373px;
  height: 87px;
  left: 23px;
  top: 547px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  
  color: #00000;
}